DATABASE_URL="postgresql://johndoe:mypassword@localhost:5432/mydb?schema=public"
AWS_REGION="aws region"
AWS_S3_BUCKET_NAME="bucket name"
AWS_ACCESS_KEY_ID="aws access key"
AWS_SECRET_ACCESS_KEY="aws secret key"